*{
    padding: 0%;
    margin: 0%;
    height: 100%;
    color: #fff;
    background: #0025ff;
}

.header{
    border: 1px solid red;
    background-color: #0025ff;
    height: 80px;
}
.header > ul{
    width: 95%;
    margin: auto;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items:center;
    list-style: none;
    border: 1px solid orange;
}
.brand-logo, .view-products-btn, .pepsi125-btn, .contact-us-btn, .buy-product{
    height: 50px;
    margin-right: 40px;
    font-family: PepsiOwners, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:14px;
    cursor: pointer;
    font-weight: 400;
    white-space: nowrap;
}
.pepsihead-logo{
    width: 54px;
    height: 54px;
    text-align: center;
    border: 1px solid #eee;
}
.header > ul > li > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif 'Courier New', Courier, monospace;
    font-size: smaller;
    text-decoration: none;
}
.buy-product{
    /* width: 100%; */
    /* margin: 0 auto; */
    font-size: 16px;
    height: 26px;
    padding: 5px 30px 5px 30px;
    border: 2px solid #fff;
    border-radius: 1.8em;
    background: transparent;
    color: #fff;
    font-family: PepsiOwners, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: background-color .1s ease-out, color .1s ease-out;
    transition: background-color .1s ease-out, color .1s ease-out;
}
.buy-product> a{
    /* padding: 0 10px 0 400px; */
    
}