*{
    padding: 0%;
    margin: 0%;
    background-color: black;
}
.main-container{
    margin: 0;
    padding: 0;
}

.header{
    /* width: 100%; */
    height: 60px;
    background-color: black;
    color: white;
    padding: 13px;
    font-size: medium;
}
.header > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
li{
    margin: 0 25px 25px 0;
}
li>a{
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 30px;
}
.btn-OrderOnline{
    background-color: red;
    color: white;
    border: none;
}
.btn-OrderOnline > img{
    width: 20px;
    color: white;

}
.header-logo{
    margin: 0 90px 25px 70px;
    width: 150px;
    height: 70px;
}

.img-section{
    margin: 0;
    padding: 0;
}
.images-view{
    width: 100%;
    margin: 0;
    padding: 0;
}

.order-now-section{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
}
.order-cards{
    margin: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li > img{
    background-color: white;
    margin: 30px 10px 30px 0px;
    display: flex;
    width: 180px;
    border-radius: 6px;
    padding: 20px;
}
.order-btn{
    border: none;
}

.address-section{
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}
.address-main{
    margin: 20px 50px;
}
.address-text-sec{
    text-align: center;
    font-size: x-large;
}
.address-text-sec > p {
    font-size:medium;
    opacity: 0.7;
}

/* First franchise  */

.franchise-1{
    display:flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 100%;
    margin: 10px;
}
.franchise-1 >.F1-text{
    width: 48%;
    padding: 10px;
}
.F1-img{
    width: 40%;
}
.F1-img > img{
    width: 400px;
    height: 260px;
}

/* Second franchise  */

.franchise-2{
    display:flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 100%;
    margin: 10px;
    margin-top: 50px;
}
.F2-img{
    width: 45%;
    margin-right: 30px;
}
.F2-img > img{
    width: 420px;
    height: 260px;
}
.franchise-2 >.F2-text{
    width: 45%;
    padding: 10px;
}

/* Third franchise  */

.franchise-3{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
    margin-top: 50px;
}
.franchise-3 >.F3-text{
    width: 48%;
    padding: 10px;
}
.F3-img{
    width: 40%;
}
.F3-img > img{
    width: 400px;
    height: 260px;
}
.direction-btn{
    color: white;
    text-decoration: none;
    margin-top: 20px;
    /* padding: 20px; */
    /* border: 1px solid white; */
    /* margin: 2px; */
}

/* Express-franchises-address-Section */

.express-franchise-address-sec{
    border: 1px solid red;
    color: white;
    text-align: center;
    height: 600px;
}
.express-franch-addrerss-main{
    border: 1px solid yellow;
}

.express-franch-addrerss-sub1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.express-panel1{
    padding: 20px;
    width: 350px;
}
.express-panel1 > img{
    width: 300px;
}
/* Villager Franchise Section  */

.village-franchise-section{
    margin: 30px 0 50px 0;
}
.village-franchise-section >h2{
    color: white;
    text-align: center;
    font-size: xx-large;
}
.village-franchise{
    display:flex;
    flex-direction: row;
    border: 1px solid red;
    margin-top: 50px;
}
.vf-img{
    width: 50%;
    margin-right: 10px;

}
.vf-img > img{
    width: 500px;
    height: 300px;
}
.village-franchise >.vf-text{
    width: 45%;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* Express Franchise Section */

.express-franchise-section{
    background-color: black;
    color: white;
    text-align: center;
}
.express-panels{
    padding: 30px 40px 40px 40px;
}
.sub-panels1, .sub-panels2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.panel1, .panel2, .panel3, .panel4, .panel5, .panel6{
    background-color: white;
    width: 28%;
    height: 180px;
    margin: 10px;
    padding: 10px;
    color: black;
}
.panel1 > img, .panel2 > img, .panel3 > img, .panel4 > img, .panel5 > img, .panel6 > img{
    background-color: transparent;
    width: 40px;
    margin: 10px;
}
.panel1 >h4,p,span, .panel2 >h4,p,span, .panel3 >h4,p,span, .panel4 >h4,p,span, .panel5 >h4,p,span, .panel6 >h4,p,span{
    background-color: transparent;
    margin: 10px;
}

/* Social-Feed Section */
.social-feed{
    color: white;
    text-align: center;
    overflow:hidden;
}
.social-feed >ul{
    display: flex;
    flex-direction: row;
    margin: 3cqh 0;
    padding: 0 10px;
    list-style: none;
}
.social-feed > ul > li >img{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 160px;
}

/* Footer section */

.footer{
    background-color: black;
    color: white;
}
.footer-container{
    padding: 25px;
    display: flex;
    flex-direction: row;
}
.sub-container1{
    padding: 10px ;
    width: 35%;
    margin-right: 10px;
}
.sub-container1 >p{
    opacity: 0.8;
    padding: 0;
    margin-top: 20px;
}
.terms-privacy{
    margin-top: 20px;
    list-style: none;
}
.terms-privacy >li >a {
    border: none;
    opacity: 0.8;
    padding: 0;
    text-decoration: none;
}

.sub-container2{
    padding: 20px ;
    width: 20%;
}
.sub-container2 >ul > li{
    list-style: none;
    opacity: 0.8;
    cursor: pointer;
}
.sub-container2 > h4{
margin-bottom: 50px;
}
.sub-container2 > ul >li {
    margin-bottom: 15px;
}

.sub-container3{
    padding: 20px ;
    width: 20%;
}
.sub-container3 >ul > li{
    list-style: none;
    opacity: 0.8;
    cursor: pointer;
}
.sub-container3 > h4{
margin-bottom: 50px;
}
.sub-container3 > ul >li {
    margin-bottom: 15px;
}

.sub-container4{
    padding: 20px ;
    width: 20%;
}
.sub-container4 > h4{
    margin-bottom: 50px;
}
.socials{
    display: flex;
    flex-direction: row;
    width: 20%;
}
.socials > img{
    width: 30px;
    padding: 6px;
    margin-bottom: 15px;
}
.footer-row{
    padding: 0 80px 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.7;
}
.poweredby > span >span > a{
    color: white;
    text-decoration: none;
}