*{
    padding: 0%;
    margin: 0%;
    background-color: black;
}
.main-container{
    margin: 0;
    padding: 0;
}

.header{
    /* width: 100%; */
    height: 60px;
    background-color: black;
    color: white;
    padding: 13px;
    font-size: medium;
}
.header > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
li{
    margin: 0 25px 25px 0;
}
li>a{
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 30px;
}
.btn-OrderOnline{
    background-color: red;
    color: white;
    border: none;
}
.btn-OrderOnline > img{
    width: 20px;
    color: white;

}
.header-logo{
    margin: 0 90px 25px 70px;
    width: 150px;
    height: 70px;
}

.img-section{
    margin: 0;
    padding: 0;
}
.images-view{
    width: 100%;
    margin: 0;
    padding: 0;
}

.order-now-section{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
}
.order-cards{
    margin: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li > img{
    background-color: white;
    margin: 30px 10px 30px 0px;
    display: flex;
    width: 200px;
    border-radius: 6px;
    padding: 20px;
}
.order-btn{
    border: none;
}

.address-section{
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}
.address-main{
    margin: 20px 50px;
}
.address-text-sec{
    text-align: center;
    font-size: x-large;
}
.address-text-sec > p {
    font-size:medium;
    opacity: 0.7;
}
.franchise-1, .franchise-2, .franchise-3{
    display:flex;
    flex-direction: row;
    /* justify-content:flex-end; */
    border: 1px solid red;
    width: 100%;
    height: 250px;
    margin: 10px;
}
.franchise-1 >.F1-text{
    width: 45%;
    height: 250px;
    padding: 10px;
    border: 1px solid orchid;
}
.F1-img{
    width: 45%;
    /* border: 1px solid orange; */
}
.F1-img > img{
    width: 450px;
}
.F1-img > a{
    color: white;
}