 /* body{
    background-image: url("Images/saylani.jpg");
    background-size: cover;
}  */


/* img{
    border: 1px solid green;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;


} */

/* table{
    width: 90%;
    height: 100%;
    border: 2px solid purple;
    margin: 0;
}

.free{
    margin: 150px;
} */