*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.container{
    width: 100%;
    margin: 0%;
    padding: 0%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Header or Navbar */
.navbar{
    width: 100%;
    height: 50px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 20%;
    padding: 8px;
    margin-left: 20px;
    border: 1px solid rgb(0, 255, 85);
}
.logo>img{
    width: 140px;
    cursor: pointer;
}

.icons{
    width: 50%;
    border: 1px solid rgb(116, 20, 226);
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}
.icons>li{
    cursor: pointer;
}
.icons>li:hover{
    /* background-color: #9af7fc98; */
    color: #007E85;
    border-bottom: 2px solid rgb(96, 156, 5);
}

.btn{
    width: 28%;
    border: 1px solid rgb(23, 182, 245);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 0 20px;
}

.btn>button{
    width: 100px;
    height: 28px;
    margin: 0 20px 0 0px;
    cursor: pointer;
}
.btn>i{
    display: none;
    font-size: 25px;
    cursor: pointer;
}
.btn>.signIn{
    color: #007E85;
    font-weight: 600;
    background: none;
    border: none;
}
.btn>.signIn:hover{
    background-color: #007E85;
    color: white;
    border-radius: 6px;
}
.btn>.signUp{
    background-color: #007E85;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 500;
}
.btn>.signUp:hover{
    background-color: white;
    color: #007E85;
}
/* -------------------------------------------------------------------- */

/* Details section */

.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
}

/* Left Side  */

.details-info{
    width: 60%;
    margin-left: 30px;
    padding: 20px;
    /* border: 1px solid purple; */
}
.details-info>h2{
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.details-info>p{
    opacity: 0.7;
    padding: 10px 80px 10px 0;
    margin-bottom: 50px;
}
.details-btn>button{
    width: 140px;
    height: 30px;
    margin-right: 20px;
}
.details-btn>.appointments-btn{
    background-color: #007E85;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.details-btn>.appointments-btn:hover{
    background-color: white;
    color: #007E85;
}
.details-btn>.watchvideo-btn{
    background-color: white;
    color:#007E85;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid rgb(224, 220, 220);
}
.details-btn>.watchvideo-btn:hover{
    background-color: #007E85;
    color: white;
}
.watchvideo-btn>i{
    margin-right: 5px;
    background-color:#007E85;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 5px;
}

/* Right Side  */

.details-img{
    position: relative;
    width: 40%;
    /* border: 2px solid darkgreen; */
    padding: 20px;
    margin: 20px;
    height: 400px;
}
.men-bg-img{
    width: 80%;
    position: absolute;
    left: 32px;
    top: 82px; 
}
.single-men{
    width: 85%;
    position: absolute;
    left: 20px;
    top: 20px;
}
.details-img>.rectangle1{
    width: 32%;
    position: absolute;
    right: 18px;
    top: 90px;
}
.details-img>p{
    width: 35%;
    position: absolute;
    right: -14px;
    top: 105px;
    font-weight: 500;
}
.details-img>p>span{
    color: #007E85;
    margin-right: 5px;
    font-weight: 600;
}
.details-img>.rectangle2{
    width: 30%;
    position: absolute;
    left: -35px;
    bottom: 50px;
}

/* Find A Doctor Section */
.finddoctor{
    width: 90%;
    /* border: 1px solid black; */
    padding: 15px 25px 0px 25px;
    /* background-color: beige; */
    border-radius: 10px;
    margin: 20px 20px 40px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.finddoc-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    /* border: 1px solid red; */
}
.finddoc-content>input{
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid #007E85;
}
.finddoc-content>p{
    font-size: 15px;
}
.finddoc-content>p>i{
    font-size: 25px;
    margin-left: 10px;
    color: #007E85;
    cursor: pointer;
}
.finddoc-content>button{
    width: 140px;
    height: 30px;
    background-color: #007E85;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 5px 0 auto;
}

/* Our Results Sections */
.our-result{
    width: 90%;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    /* border: 1px solid black; */
}
.our-result>h2,.opt1>h3,.opt2>h3,.opt3>h3,.opt4>h3{
    color: #007E85;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.our-result>.results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    /* border: 1px solid red; */
}

/* Reason to Choose Section */
.reason-section{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 30px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    /* border: 1px solid black; */
}
.reason-details{
    width: 40%;
}
.reason-details>h3{
    color: #007E85;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.reason-details>p{
    margin: 20px 0 30px 0;
    opacity: 0.8;
}
.reason-details>button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.reason-details>.getstarted-btn{
    background-color: #007E85;
    color: white;
}
.reason-details>.getstarted-btn:hover{
    background-color:white;
    color:#007E85;
}
.reason-details>.talksales-btn{
    background-color:white;
    color:#007E85;
    border: 1px solid rgb(224, 220, 220);
}
.reason-details>.talksales-btn:hover{
    background-color: #007E85;
    color: white;
}
.reason-img{
    width: 50%;
}
.reason-img>img{
    width: 100%;
    cursor: no-drop;
}

/* Services Section */

.services{
    width: 90%;
    padding: 20px;
    margin: 30px 10px;
    border: 1px solid black;
}
.services>h2{
    color: #007E85;
    margin-bottom: 10px;
    text-align: center;
}
.services>p{
    text-align: center;
    opacity: 0.8;
}
.services-category{
    padding: 20px;
    margin-top: 40px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap: 20px;
}
.service1{
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.service1>img{
    width: 100%;
    cursor: no-drop;
}
.service1>h4{
    color: #007E85;
    margin: 10px 0px;
    cursor: pointer;
}
.service1>p{
    opacity: 0.7;
    margin-bottom: 10px;
}
.service1>button{
    border:none;
}
.service1>button:hover{
    color: white;
    background-color: #007e8598;
}
.service1>button>a{
    text-decoration: none;
    color: #007E85;
    font-size: 15px;
}
.service1>button>a:hover{
    color: white;
    background-color: #007e8598;
}
.service1>button>a>i{
    margin-left:10px ;
}

/* Our Team Members Section */

.Our-Team{
    width: 90%;
    padding: 20px;
    margin: 30px 10px;
    border: 1px solid black;
    text-align: center;
}
.Our-Team>h2{
    color: #007E85;
}
.Our-Team>p{
    opacity: 0.8;
}
.Team-members{
    padding: 20px;
    margin-top: 40px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap: 20px;
}
.teammate{
    padding: 25px 30px;
}
.teammate>.team-mates{
    width: 60%;
}
.teammate>h5{
    margin-bottom: 8px;
    opacity: 0.8;
    font-weight: 1000;
}
.teammate>.imgs>img{
    width: 10%;
    margin-right:5px;
    cursor: pointer;
}

/* Our Testimonials */

.Testimonials{
    width: 90%;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
}
.Testimonials>h2{
    color: #007E85;
}
.Testimonials>p{
    opacity: 0.8;
}
.Testimonial-view{
    padding: 20px;
    margin-top: 40px;
    text-align: start;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap: 20px;
}
.testimonial{
    padding: 30px 20px;
}
.testimonial>.testimonial-img{
    width: 30%;
    margin-bottom: 10px;
}
.testimonial>h3{
    font-size: 15px;
    margin: 10px 0px;
}
.testimonial>h5{
    margin: 0;
}
.testimonial>h4{
    margin: 10px 0px 0px 0px;
}

/* Media Queries  */

/* NavBar */
@media screen and (max-width:1400px){

}
@media screen and (max-width:1000px){

}
@media screen and (max-width:800px){
 
.icons{
    display: none;
}
.btn>i{
    display: inline-block;
}
.logo>img{
    width: 110px;
}
}
@media screen and (max-width:620px){
 
    .btn>button{
        display: none;
    }
    .btn>i{
        margin: 0 0 0 auto;
    }
    .logo>img{
        width: 100px;
    }
}

@media screen and (max-width:350px){


}
